
 <div class="city" *ngIf="city" [routerLink]="['', city.name]">
  <div class="temp" >
    <div>
      <p class="cityname"><b>{{city?.name}}</b></p>
      <p class="p2">{{getDate(city?.dt) | date:'MMMM d'}}</p>
    </div>
  </div>
  <div class="temp">
    <p class="p1"> 
      <span class="temperature">{{city.main.temp - 273.15 | convert}}</span>
      <sup><span><sup>o</sup></span>C</sup>
    </p>
    <p class="p2">{{city.weather[0]?.description}}</p>
  </div>
  <div class="temp">
    <p class="p2 humidity">Humidity: {{city.main?.humidity | number}}%</p>
    <p class="p2">Wind: {{city.wind?.speed}} km/h</p>
  </div>
</div>
